.displayBoard{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    justify-content: center;
    
}
.square{
    border: 1px solid red;
}

.displayTurno{
    border: 1px solid black;
    text-align: center;
}

.mainContent{
    margin-top: 100px;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.displayWin{
    border: 1px solid skyblue;
    text-align: center;
}