.displayBoard{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    justify-content: center;
    margin-top: 100px;
}
.square{
    border: 1px solid red;
}

