@font-face {
    font-family: 'mark'; /* Nombre que asignarás a tu fuente */
    src: url('./fonts/Bender_Personal_License/Bender_Personal_License/Bender-Inline.otf') format('truetype'); /* Ruta a tu archivo de fuente */
    /* También puedes especificar otros formatos de fuente como woff, woff2, etc. */
  }
  

.displayBoard{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    justify-content: center;
    
}
.square{
    border: 1px solid rgb(11, 11, 11);
}

.displayTurno{
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
    color: orange;
    font-family: 'mark';
}

.mainContent{
    margin-top: 100px;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.displayWin{
    border: 1px solid skyblue;
    text-align: center;
    color: rgb(117, 70, 235);
    font-size: 1.8rem;
}

.box{
    height: 100px;
    width: 40px;
    background: red;
} 

.square{
    background-color: white;
    font-size: 3rem;
    font-family: 'mark';
}
.square:nth-child(1){
    border-top: 0;
    border-left: 0;
}
.square:nth-child(2){
    border-top: 0;
}
.square:nth-child(3){
    border-top: 0;
    border-right: 0;
}
.square:nth-child(4){    
    border-left: 0;
}
.square:nth-child(6){
    border-right: 0;
}
.square:nth-child(7){
    border-bottom: 0;
    border-left: 0;
}
.square:nth-child(8){
    border-bottom: 0;
}
.square:nth-child(9){
    border-bottom: 0;
    border-right: 0;
}

.playerEquis{
    color: green;
}

.playerCircle{
    color: brown;
}